function Canvas.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Canvas.CELL 0
push constant 4
return
function Canvas.getSnake 0
push argument 0
pop pointer 0
push this 0
return
function Canvas.getPellets 0
push argument 0
pop pointer 0
push this 1
return
function Canvas.updatePelletLocation 0
push argument 0
pop pointer 0
push this 1
push argument 1
call Pellets.setLocation 2
pop temp 0
push constant 0
return
function Canvas.checkCollision 0
push argument 0
pop pointer 0
push this 0
call Snake.getXLocation 1
push this 1
call Pellets.getXLocation 1
eq
push this 0
call Snake.getYLocation 1
push this 1
call Pellets.getYLocation 1
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Canvas.clearCanvas 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
